:root {
    --color0: #003f7c;
    --color1: #ffffff;
    --color2: #1c1c1c;
    --color3: #b2b2b2;
    --color4: #f8b42d;
    --color5: #cccccc;
    --color6: #55af0f;
    --color7: #7c0043;
    --color8: #dddddd;
}

body{
    background-color: var(--color1);
    color: var(--color2);
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    
}
a{
    color: var(--color2);
}
.main{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
h1 a img{
    width: 90px;
}
/* CENTER ********************************************/
.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* HEADER ********************************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}
.header h1{
    flex: 0;
}

h2{  
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 46px;
    color: #eee7c6;
 }

.header .nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.header .nav li a{
    padding: 50px 20px;
    align-items: center;
    text-decoration: none;
    background-color: var(--color1);
    transition: background-color 0.5s ease;
    display: flex;
}
.header .nav li a:hover{
    background-color: var(--color7);
    color: var(--color1);
}
.header .account{
    flex: 0;
    background-color: var(--color3);
    color: var(--color1);
    height: 116px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header .account .user{
    display: flex;
}
.header .account i{
    color: var(--color1);
}
.header .account .user div{
    margin-left: 10px;
}
.flex{
    display: flex;    
}
.fixed{
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.fixed:after{
    content: '';
    display: block;
}
.content-bug{
    display: none;
}
@media only screen and (max-width: 600px) {
    .openheader{
        left: -380px !important;
    }
    .openheader .bug{
        position: relative !important;
        left: 388px !important;
    }
    .header{
        position: fixed;
        display: block;
        z-index: 2;
        left: 0;
        top: 42px;
        bottom: 0;
        background: white;
        width: 90%;
        align-items: flex-start;
    }
    .header::before{
        content: '';
        display: inline;
        padding: 2px;
        background: #0000006e;
        position: absolute;
        right: -38px;
        bottom: 0;
        top: 0;
        width: 10%;
    }
    .header .nav{
        flex-direction: column;
    }
    .header .nav li:hover{
        background-color: #ddd;
    }
    .header .nav li a{
        padding: 8px 20px;
    }
     .content-bug{
        background-color:white;
        padding: 10px;
        display: block;
        position: fixed;
        top: 0;
        z-index: 2;
        left: 0;
        right: 0;
    } 
    .header h1{
        display: none;
    }
}
/* BANNER ********************************************/
.banner{
    margin-bottom: 60px;
}
.owl-item{
    height: 300px;
}
/* SERVICE ********************************************/     
.service{ 
    height: 0; 
}
.service .list-server{
    justify-content: center;
    position: relative;
    display: flex;
    top: -40px;
    z-index: 1;
}
.service .list-server li{
    background-color: var(--color7);
    padding: 10px;
    /* box-shadow: 0px 1px 2px var(--color5); */
    margin: 0 0.2%;
    color: var(--color1);
    border-radius: 4px;
    min-width: 29%;
}
.preview{
    width: 100%;

}
.service .list-server li .content-card{
    padding: 5px;
}

.content-card-title h2{
    padding: 5px 0;
}

.service .list-server li .content-card .content-card-title{
    padding: 5px 0;
}

.service .list-server li .content-card .content-card-main{
    text-align: justify;
    padding: 5px 0;
}

.service .list-server li .content-card .content-card-main img{
    border: 2px solid #eee7c6;;
    border-radius: 10px;
    align-items: center;
}

.service .list-server li .content-card .content-card-footer{
    padding: 5px 0;
}
/* CONTAINER-ITEM ********************************************/

.container-item{
    padding: 20px 0;
    min-height: 300px; 
    top: 100px;
}
.container-item:nth-child(even){
    background-color: var(--color0); /* #8a7816 */
    position: relative;
    color: var(--color1); 
}
/* FOOTER ********************************************/
.footer{
    padding: 20px 0;
    color: var(--color1);
    background-color: var(--color2);  
    min-height: 300px;
}
/* LIGHTBOX ********************************************/
.lightbox{
    background-color: #00000066;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
/* COMPONENTE-LOGIN ********************************************/
.container{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .content{
    position: relative;
    background: var(--color1);
    padding: 20px;
    border-radius: 4px;
    min-width: 50%;
    width: 200px;
}
.content .close{
    position: absolute;
    top: -10px;
    right: -10px;
}
.content .close button{
    border-radius: 50%;
    background: var(--color1);
    border: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* FORM ********************************************/
.form-group{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label{
    margin-bottom: 10px;
}
.form-group input{
    border: 1px solid var(--color8);
    padding: 5px;
    border-radius: 4px;    
}
.btn{
    padding: 8px 12px;
    border: none;
    background: var(--color6);
    color: var(--color1);
    border-radius: 4px;
    cursor: pointer;
}
.btn-internal{
    background-color: var(--color7);
}
.load-elements{
    display: flex;
    justify-content: space-between;    
}
.internal-content{
    color: black;
    flex: 1;
    display: flex;
    align-items: center;
}
.internal-content img{
    width: 75px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px #ccc;
}
.internal-content-service{
    color: black;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.elements{
    flex: 1;
    border-radius: 2px;
}
.animation{
    min-height: 400px;
}
.after-element{
    content: "";
    display: block;
    width: 100%;
    height: 250px;
    background-color: var(--color0);
    /* clip-path: polygon(0% 100%, 99% 99%, -8% -4%); */
    position: absolute;
    top: -250px;
    overflow: hidden;
}
.before-element{
    content: "";
    display: block;
    height: 50em;
    left: -70px;
    background-color: white;
    background-size: cover;
    position: absolute;
    right: -70px;
    bottom: 3%;
    border-radius: 50%;
}
.elements:last-child{
    background: var(--color7);
    padding: 5px;
    height: 316px;
    overflow-x: auto;
}
.content-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.content-image:nth-child(odd){
    background: #ddd;    
}
.content-image:hover{
    background: #ccc;
}
.owl-carousel{
    background-color:rgb(208, 212, 255);
}
.bg{
    position: absolute;
    height: 38%;
}
p{
    line-height: 24px;
    margin-bottom: 10px;
}
#err{
    padding: 5px;
    border-style: dashed;
    border-color: red;
    border-width: 3px;
    color: red;
    border-radius: 4px;
}