body{
    background-color: white;
    color: #1c1c1c;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: #1c1c1c;
}
.main{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
h1 a img{
    width: 90px;
}
/* CENTER ********************************************/
.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* HEADER ********************************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav{
    display: flex;
}
.header .nav li a{
    padding: 50px 20px;
    align-items: center;
    text-decoration: none;
    background-color: white;
    transition: background-color 0.5s ease;
    display: flex;
}
.header .nav li a:hover{
    background-color: #1c1c1c;
    color: white;
}
/* BANNER ********************************************/
.owl-item{
    height: 300px;
}
/* SERVICE ********************************************/     
.service{ 
    height: 0; 
}
.service .list-server{
    justify-content: center;
    position: relative;
    display: flex;
    top: -40px;
    z-index: 1;
}
.service .list-server li{
    background-color: #f8b42d;
    padding: 10px;
    box-shadow: 0px 1px 2px #ccc;
    margin: 0 0.2%;
    color: white;
    border-radius: 4px;
    min-width: 29%;
}
.service .list-server li .content-card{
    padding: 5px;
}
.service .list-server li .content-card .content-card-title{
    padding: 5px 0;
}
.service .list-server li .content-card .content-card-main{
    padding: 5px 0;
}
.service .list-server li .content-card .content-card-footer{
    padding: 5px 0;
}
/* CONTAINER-ITEM ********************************************/
.container-item{
    padding: 20px 0;
    min-height: 300px; 
}
.container-item:nth-child(even){
    background-color:#4e2df8; /* #8a7816 */
    position: relative;
    color: white; 
}
/* FOOTER ********************************************/
.footer{
    padding: 20px 0;
    color: white;
    background-color: #1c1c1c;  
}
/* LIGHTBOX ********************************************/
.lightbox{
    background-color: #00000066;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
/* COMPONENTE-LOGIN ********************************************/
.container-login{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-login .content{
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 4px;
}
.content .close{
    position: absolute;
    top: -10px;
    right: -10px;
}
.content .close button{
    border-radius: 50%;
    background: white;
    border: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* FORM ********************************************/
.form-group{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label{
    margin-bottom: 10px;
}
.form-group input{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;    
}
.btn{
    padding: 5px;
    border: none;
    background: rgb(27, 140, 15);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-internal{
    background-color: rgb(248, 72, 45);
}
.load-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elements{
    flex: 1;
    border-radius: 2px;
}
.elements:last-child{
    background: white;
    padding: 5px;
}
.owl-carousel{
    background-color:rgb(208, 212, 255);
}
.bg{
    position: absolute;
    height: 83%;
}
p{
    line-height: 24px;
    margin-bottom: 10px;
}
#err{
    padding: 5px;
    border-style: dashed;
    border-color: red;
    border-width: 3px;
    color: red;
    border-radius: 4px;
}
