body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  
.jumbotron {
  background-color: #003f7c;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #003f7c;
  font-size: 50px;
}
.logo {
  color: #003f7c;
  font-size: 20px;
}
.spanTexteira {
  font-size: x-large;
  font-weight: bolder;
  color: #fff;
}
.navbar-brand > img {
  width: 36px;
  padding-top: 0px !important;
}
.navbar-brand {
  padding-top: 0px !important;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #003f7c;
}
.carousel-indicators li {
  border-color: #003f7c;
}
.carousel-indicators li.active {
  background-color: #003f7c;
}

.carousel {
  margin-top: 90px;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #044f99; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #003f7c;
  background-color: #fff !important;
  color: #003f7c;
}
.panel-heading {
  color: #fff !important;
  background-color: #003f7c !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #003f7c;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #003f7c;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 3px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
/*
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #003f7c !important;
  background-color: #fff !important;
}
*/
.navbar-nav li.active a {/*.navbar-nav li a:hover, */
  background-color: #fff !important;
  color: #003f7c !important;
  font-size: 16px;
}
  .navbar-nav li a:hover {
  font-size: 16px;
}

.text-value-fone {

}

.text-value-fone-img img{
  width:40px;
}

.text-value-email {
 
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #022547;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }  
  .carousel {
    margin-top: 146px;
  }

  .arrumaBotao {
    margin-top: 150px !important;
    position: absolute!important;
    z-index: 3!important;
    margin-left: 100px!important;
  }
}

.subTop {
  color: #fff;
  font-weight: bolder;
}
.subTop a {
  text-decoration: underline;
  color: #fff;
}

.arrumaBotao {
  margin-top: 800px ;
  position: absolute;
  z-index: 3;
  margin-left: 590px;
}

.arrumaBotao .btn-lg {
    background-color: #10d216;
  }
  
  .content-card {
    background-color: #7c0043;
    color: #eee7c6;
    border: 2px solid #eee7c6;;
    border-radius: 10px;
    font-weight: 500;
  } 
  .content-card h4{
    color: #eee7c6; 
  }
  /********************INICIO MODAL********************************/
  .modal-header, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 20px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  
  .modal{
    margin-top: 100px;
}

.modal-header {
  height: 10px;
  padding: 25px 50px;
}

.arrumaNomeLogin{
  margin-top: -18px !important;
}

.close{
  margin-top: -16px !important;
  background-color: red;
}

  /********************FIM MODAL********************************/

  
#err{
  padding: 5px;
  border-style: dashed;
  border-color: red;
  border-width: 3px;
  color: red;
  border-radius: 4px;
}

.arrumaDivNome{
  text-align: right;
}

.bg-grey {
  border: 2px solid #003f7c;
  border-radius: 10px;
} 