body{
    background-color: white;
    color: #575757;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: #575757;
}
.main{
    display: flex;
    flex-direction: column;
}
/* CENTER ********************************************/
.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* HEADER ********************************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav{
    display: flex;
}
.header .nav li a{
    padding: 50px 20px;
    align-items: center;
    text-decoration: none;
    background-color: white;
    transition: background-color 0.5s ease;
    display: flex;
}
.header .nav li a:hover{
    background-color: #575757;
    color: white;
}
/* BANNER ********************************************/
.owl-item{
    height: 300px;
}
/* SERVICE ********************************************/     
.service{ 
    height: 0; 
}
.service .list-server{
    justify-content: center;
    position: relative;
    display: flex;
    top: -40px;
    z-index: 1;
}
.service .list-server li{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 1px 2px #ccc;
    margin: 0 0.2%;
}
.service .list-server li .content-card{
    padding: 5px;
}
.service .list-server li .content-card .content-card-title{
    padding: 5px 0;
}
.service .list-server li .content-card .content-card-main{
    padding: 5px 0;
}
.service .list-server li .content-card .content-card-footer{
    padding: 5px 0;
}
/* CONTAINER-ITEM ********************************************/
.container-item{
    padding: 20px 0;
    min-height: 300px; 
}
.container-item:nth-child(even){
    background-color:teal;
    color: white; 
}
/* FOOTER ********************************************/
.footer{
    padding: 20px 0;
    color: white;
    background-color: #575757;  
}
/* LIGHTBOX ********************************************/
.lightbox{
    background-color: #00000066;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
/* COMPONENTE-LOGIN ********************************************/
.container-login{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-login .content{
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 4px;
}
.content .close{
    position: absolute;
    top: -10px;
    right: -10px;
}
.content .close button{
    border-radius: 50%;
    background: white;
    border: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* FORM ********************************************/
.form-group{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label{
    margin-bottom: 10px;
}
.form-group input{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;    
}
.btn{
    padding: 5px;
    border: none;
    background: green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
